<app-header />

@if (addUser) {
    <app-add-user (close)="onClose()" (addUser)="onSubmit($event)" />
}

<main>
    <ul>
        @for(user of users; track user.id) {
            <li id="users">
                <app-user [isSelected]="user.id === selectedUserId" [user]="user" (select)="onSelectUser($event)" (remove)="onRemoveUser($event)"/>
            </li>
        }
        <button type="button" (click)="onAddUser()">Add User</button>
        
        <!-- <li *ngFor="let user of users" id="users">
            <app-user [user]="user" (select)="onSelectUser($event)"/>
        </li> -->
        
    </ul>
    <div class="tasks">
        @if (selectedUser) {
            <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"/>
            @if(showCompletedTasks) {
                <!-- <p>{{showCompletedTasks}}</p> -->
                <app-completed-tasks [userId]="selectedUser.id" />
            }
        }
        @else {
            <p id="fallback">Select a user to see their tasks!!!</p> 
        }
    </div>

    <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser.name"/>

    <ng-template #fallback>
        <p id="fallback">Select a user to see their tasks!!!</p>
    </ng-template> -->
</main>


